@import url("https://fonts.cdnfonts.com/css/lilita-one");

@import url("https://fonts.cdnfonts.com/css/quicksand");
@import url("https://fonts.cdnfonts.com/css/inter");
@import url("https://fonts.cdnfonts.com/css/poppins");
.wrapper {
  height: 1024px;
  position: relative;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: black;
  background-color: #fff2e2;
}
.header {
  width: 100%;
  height: 147.8px;
  position: relative;

  display: flex;
  justify-content: flex-end;
  z-index: 1;
  .logo {
    position: absolute;
    left: 0;
  }
  .action {
    display: flex;
    align-items: center;
    height: 147.8px;
    gap: 12px;
    z-index: 1;
    padding-right: 16px;
    .item_action {
      display: flex;
      align-items: center;
      font-size: 16px;
      // font-family: "Inter", sans-serif;
    }
    .button {
      background-color: #ffffff20;
      border-radius: 12px;
      width: 126px;
      height: 32px;
      padding: 8px 12px;
      font-size: 12px;
      line-height: 16px;
      display: flex;
      gap: 4px;
      font-family: "Inter";
      font-weight: 400;
      user-select: none;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: #ffffff50;
      }
    }
  }
}
.body {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;

  z-index: 1;

  .item_body {
    width: 404px;
    height: 58.63px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 10px;
    .title {
      height: 20px;
      size: 16px;
      line-height: 20px;
      display: flex;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      size: 14px;
      line-height: 21px;
      color: black;
    }
    .check_box {
      height: 15.49px;
      align-items: center;
      gap: 2px !important;

      input {
        height: 9.96px;
        width: 9px;
        border-color: black;
        border-radius: 2px;
      }
      .item_title {
        font-size: 9px;
        line-height: 15.49px;
      }
    }
    input {
      width: 100%;
      height: 32px;
      font-size: 14px;
      line-height: 17.5px;
      border: 1px solid;
      border-radius: 10px;
      outline: none;
      background-color: transparent;
      color: #d9d9d9;
      border-color: #d9d9d9;
      gap: 10;
      padding: 10px 0 10px 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
    }
  }
  .account {
    position: relative;
    width: 622px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: calc(139px - 48px - 26.55px);
    font-weight: 700;
    gap: 14px;
    .main {
      .item_body {
        height: 58.63px;
        // :nth-child(2){
        //   margin-top: 6.63px;

        // }
      }
      .title {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        display: flex;
        gap: 8px;
      }
    }
  }
  .main {
    width: 622px;
    // padding: 16px;
    gap: 14px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .child_2 {
      margin-top: calc(217.93px - 139px - 58.63px);
    }
    .child_3 {
      height: auto !important;
      margin-top: calc(296.48px - 217.93px - 58.63px);
    }
  }
  .box {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #f78d9b;

    gap: 8px;
    margin-top: calc(331.88px - 296.48px - 15.49px);
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #f78d9b;
    justify-content: center;
    color: white;
    .title {
      font-size: 13px;
      line-height: 19.5px;
    }
  }
}
.body_wrapper {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 538px;
  margin-top: calc(228px - 148px);
 
  margin-left: 97px;
  width: 404px;
  .big_title {
    height: 75px;
    display: flex;
    flex-direction: column;
    :nth-child(1) {
      height: 48px;
      line-height: 48px;
      font-size: 32px;
    }
    :nth-child(2) {
      height: 26.55px;
      line-height: 24px;
      font-size: 16px;
    }
  }
}
.image_bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0px;

  :nth-child(1) {
    top: 126px;
    left: 416px;
  }
  svg {
    position: absolute;
  }
}
.last_line {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: flex-end;
  line-height: 100%;
  font-size: 14px;
  span {
    color: #0f3dde;
    margin-left: 4px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .sup {
    width: 100%;
    height: 23.23px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.image_middle {
  position: absolute;
  width: 1306.21px;
  height: 469.18px;
  top: 164.77px;
  left: 63px;
}
.image_head {
  position: absolute;
  width: 1070.89px;
  height: 658.05px;
  top: 4px;
  left: 20px;

  z-index: 1;
}
.register {
  animation: move-down 0.75s ease-out forwards;
}
.input_name {
  position: absolute;
  left: 0;
  animation: move-right 0.75s ease-out forwards;
}
.leave {
  animation: move-left 0.75s ease-out forwards;
}
.up {
  animation: move-up 0.75s ease-out forwards;
}
.body_big {
  height: 638px;
}
@keyframes move-down {
  from {
    margin-top: calc(139px - 48px - 26.55px);
  }

  to {
    margin-top: calc(139px - 48px - 26.55px + 26.55px);
  }
}
@keyframes move-right {
  from {
    left: -20px;
    opacity: 0;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes move-left {
  from {
    left: 0px;
    opacity: 1;
  }

  to {
    left: -20px;
    opacity: 0;
  }
}
@keyframes move-up {
  from {
    margin-top: calc(139px - 48px - 26.55px + 26.55px);
  }
  to {
    margin-top: calc(139px - 48px - 26.55px);
  }
}
